
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/hakkimda' | prepend: site.baseurl | prepend: site.url }}">Hakkımda</a></li>
      <li><a href="https://github.com/xShuden" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/xShuden" target="_blank">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/furkansayim/" target="_blank">Linkedin</a></li>
    </ul>
  </div>
</nav>
